################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson2/obj
/.vs/Lesson2/v16
/.vs
/Lesson2/bin/Debug
/Zoo/obj
/AnimalLibrary/obj
/Start_Array/bin/Debug
/Start_Array/obj/Debug
/AnimalLibrary/bin/Debug
/Factorial/bin/Debug
/Factorial/obj/Debug
/Start_Array/obj/Release
/BookStorage/obj/Debug
/Dictionary_lesson4/obj/Debug
