################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson2/obj
/.vs/Lesson2/v16
/.vs
/Lesson2/bin/Debug
/Zoo/obj
/AnimalLibrary/obj
